.vscode
workspace.code-workspace
*.psd

# Build directories
s3Reader/build/
s3Reader/build-debug/
s3Reader/build-release/

# Exclude directories
plots/example

# Dependency directories
node_modules/

# macOS
.DS_Store
