# IDE stuff
.vs
.vscode
.idea
*.sln
*.vcxproj
*.vcxproj*
cmake-build*
CMakeSettings.json
workspace.code-workspace

# Build directories
s3Reader/build
s3Reader/build-debug
s3Reader/build-release
s3Reader/out

# Exclude directories
plots/example

# Dependency directories
S3Reader/external/boost
node_modules/

# Photoshop
*.psd

# macOS
.DS_Store
